<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="gdg-header mdl-layout__header mdl-layout__header--scroll">

    <div class="mdl-layout__header-row">
      <div class="center-align">
        <span class="header-logo-text">GDG Silicon Valley</span>
      </div>

      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="gdg-header-spacer mdl-layout-spacer"></div>
      <!-- Navigation -->
      <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">Home</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/speakers">Speakers</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/schedule">Schedule</a>
               <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/sessions">Sessions</a>
              <!-- <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Team</a> -->
              <a class="mdl_navigation__link nohover mdl-typography--text-uppercase" href="">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent nav-button">Buy Ticket</button></a>
            </nav>
          </div>
    </div>
  </header>
  <!-- Navigation drawer -->
  <div class="drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <div class="center-align">
            <span class="header-logo-text">GDG Silicon Valley</span>
          </div>
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Home</a>
          <a class="mdl-navigation__link" href="/speakers">Speakers</a>
          <a class="mdl-navigation__link" href="/schedule">Schedule</a>
           <a class="mdl-navigation__link" href="/sessions">Sessions</a>
          <!-- <a class="mdl-navigation__link" href="">Team</a> -->
        </nav>
  </div>
</div>