{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="schedule-section">
  <div class="container">
    <div class="schedule-content">
    <div class="container-title">Schedule</div>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card">
        <div class="speaker">
          <div class="mdl-card__title">
            <h4 class="speaker-name">Coming soon!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


<div class="schedule-content">
  <div class="container-schedule">
    <div class="start-time">
      <h2>8:00</h2>
    </div>
    <div class="item item-a">
      <h2>Registration</h2>
    </div>
  </div>

  <div class="container-schedule-row1">
    <div class="start-time">
      <h2>9:00</h2>
      <h2>9:30</h2>
    </div>
    <div class="item item-c">
      <h2>Talk 60</h2>
    </div>
    <div class="item item-b">
      <h2>Talk 30 A</h2>
      <h2>Talk 30 B</h2>
    </div>
  </div>

  <div class="container-schedule-row2">
    <div class="start-time">
      <h2>10:00</h2>
      <h2>10:30</h2>
    </div>
    <div class="item item-b">
      <h2>Talk 30 A</h2>
      <h2>Talk 30 B</h2>
    </div>
    <div class="item item-c">
      <h2>Talk 60</h2>
    </div>
  </div>

  <div class="container-schedule-row3">
    <div class="start-time" style="grid-area: 3 / 1 / 3 / 2">
      <h2>11:00</h2>
      <h2>11:15</h2>
    </div>
    <div class="item item-d" style="grid-area: 3 / 2 / 3 / 3">
      <h2>Talk 15 A</h2>
      <h2>Talk 45 B</h2>
    </div>
    <div class="item item-c" style="grid-area: 3 / 3 / 3 / 4">
      <h2>Talk 60</h2>
    </div>
    <div class="item item-c" style="grid-area: 3 / 5 / 3 / 6">
      <h2>Talk 60</h2>
    </div>
  </div>

  <div class="container-schedule">
    <div class="start-time">
      <h2>12:00</h2>
    </div>
    <div class="item item-a">
      <h2>Lunch</h2>
    </div>
  </div>

  <div class="container-schedule-row5">
    <div class="start-time" style="grid-area: 5 / 1 / 5 / 2">
      <h2>1:30</h2>
      <h2>2:00</h2>
    </div>
    <div class="item item-c" style="grid-area: 5 / 2 / 5 / 3">
      <h2>Talk 60</h2>
    </div>
    <div class="item item-b" style="grid-area: 5 / 3 / 5 / 4">
      <h2>Talk 30 A</h2>
      <h2>Talk 30 B</h2>
    </div>
    <div class="item item-c" style="grid-area: 5 / 4 / 5 / 5">
      <h2>Talk 60</h2>
    </div>
    <div class="item item-c" style="grid-area: 5 / 5 / 5 / 6">
      <h2>Talk 60</h2>
    </div>
  </div>

  <div class="container-schedule-row6">
    <div class="start-time" style="grid-area: 5 / 1 / 5 / 2">
      <h2>2:30</h2>
      <h2>3:00</h2>
    </div>
    <div class="item item-c" style="grid-area: 5 / 2 / 5 / 3">
      <h2>Talk 30</h2>
    </div>
    <div class="item item-b" style="grid-area: 5 / 3 / 5 / 4">
      <h2>Talk 30</h2>
    </div>
    <div class="item item-c" style="grid-area: 5 / 4 / 5 / 5">
      <h2>Talk 60</h2>
    </div>
    <div class="item item-c" style="grid-area: 5 / 5 / 5 / 6">
      <h2>Talk 60</h2>
    </div>
  </div>



</div>


</div>
{% endblock %}

