{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="schedule-section">
  <div class="container">
    <div class="schedule-content">
    <div class="container-title">Schedule</div>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card">
        <div class="speaker">
          <div class="mdl-card__title">
            <h4 class="speaker-name">Coming soon!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>
{% endblock %}

